@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 0, 0, 0; /* Black color */
  --background-end-rgb: 0, 0, 0; /* Black color */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
  .container { 
    max-width: 700px;
  }
  .grid { /* Adjust grid layout for tablets */
    grid-template-columns: 1fr; /* One column for tablets */
  }

  .text-xl { /* Adjust text size for tablets */
    font-size: 1.25rem;
  }
}

body {
  font-size: 16px;
  margin: 0;
  padding: 0;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

* {
  box-sizing: border-box;
}

.footer {
  padding-top: 40px;
}

.footer .social-icons button {
  margin-right: 20px;
}

.event-container {
  width: 300px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.event-content {
  flex: 1;
  padding: 16px;
}

.event-content .relative {
  position: relative;
  height: 200px;
}

.event-content .aspect-w-16.aspect-h-9 {
  width: 100%;
}

.truncate {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.read-more {
  border: none;
  background-color: transparent;
  color: #3182ce;
  font-weight: bold;
  cursor: pointer;
}

.read-more:hover {
  text-decoration: underline;
}

@keyframes underline-animate {
  from { transform: translateY(-3px); }
  to { transform: translateY(0px); }
}